.dropDown-box-contain{
  display: flex;
  justify-content:flex-start;
  .dropDown-box{
    position: relative;
    width: 200px;
    margin-right: 20px;
    .dropDown-box-header{
      display: flex;
      align-items: center;
      width: 200px;
      height: 44px;
      border: 1px solid #E8E8E8;
      cursor: pointer;
      .icon {
        display: inline-block;
        width: 20px;
        padding: 0 14px;
        box-sizing: content-box;
      }

      .text {
        flex: 1;
        color: #666666;
        font-size: 16px;
      }

      .arrow {
        padding: 0 18px;
        color: #E9001B;
        transform: rotate(90deg);
      }
    }
    .dropDown-box-body{
      position: absolute;
      top: 40px;
      left: 0;
      display: none;
      width: 280px;
      min-height: 230px;
      background: #FFFFFF;
      box-sizing: border-box;
      padding: 20px 10px;
      background: rgba(255,255,255,0.98);
      box-shadow: 0 6px 10px 0 rgba(0,0,0,0.10);
      border-radius: 2px;
      &.show{
        display: block;
        z-index: 99;
      }
      .dropDown-box-search{
        input{
          width: 240px;
          height: 40px;
          background: #FFFFFF;
          border: none;
          border-bottom: 1px solid #e8e8e8;
          font-size: 14px;
          color: #B4B4B5;
          outline: none;
        }
      }
      .dropDown-box-main{
        padding: 0;
        .dropDown-item{
          position: relative;
          list-style: none;
          font-size: 14px;
          color: #000000;
          margin-top: 20px;
          cursor: pointer;
          display: flex;
          align-items: center;
          cursor: pointer;
          &:hover {
            color: #EA001B;
          }
          &.checked {
            .icon-check {
              background-image: url("../images/checkbox-checked.png");
              background-position: center;
              background-size: cover;
            }
          }
          .icon-check {
            display: inline-block;
            width: 20px;
            height: 20px;
            border: 1px solid #E8E8E8;
            border-radius: 1px;
            margin-right: 12px;


          }
        }

      }
    }
  }

}
.tag-area{
  display: flex;
  justify-content:flex-start;
  flex-wrap: wrap;
  .tag-con{
    padding: 10px;
    color: #FFFFFF;
    background: #EA001B;
    margin-right: 10px;
    cursor: pointer;
    label{
      cursor: pointer;
    }
    .icon-close{
      display: inline-block;
      width: 14px;
      height: 14px;
      background: url("../images/tips_close.svg") no-repeat;
      background-size: cover;
      cursor: pointer;
    }
  }
}

