@import "./common/global.scss";
@import "./common/header.scss";
@import "./common/slide-menu.scss";
@import "./common/footer.scss";
@import "./common/aside.scss";

.warper {
  position: relative;
  overflow: auto;
  display: flex;
  flex-direction: column;
  min-width: 1080px;
}

.index-content {
  padding-top: 90px;
  overflow-x: hidden;
}

.banner {
  position: relative;
  display: flex;
  width: 100%;
  float: left;

  .barner-left, .barner-right {
    width: 50%;
    height: 600px;
    justify-content: flex-start;
    box-sizing: border-box;
  }

  .barner-left {
    position: relative;
    color: #ffffff;
    background: #208985;

    .text-con {
      position: absolute;
      top: 20%;
      left: 23%;
      width: 67%;

      .text1 {
        font-size: 62px;
        letter-spacing: 12px;
        line-height: 80px;
      }

      .text2 {
        font-size: 30px;
        line-height: 60px;
      }

      .text3 {
        font-size: 16px;
        line-height: 90px;
        white-space: nowrap;
        overflow: visible;
        position: relative;

        &:before {
          content: '';
          display: inline-block;
          width: 8px;
          height: 30px;
          background-color: #fcbe16;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translate(-150%, -50%);
        }
      }
    }

    .banner-line-left {
      position: absolute;
      left: 0;
      bottom: 10%;
      width: 70px;
    }

    .num-con {
      position: absolute;
      top: 20%;
      left: 0;
      width: 100px;

      li {
        color: #ffffff;
        opacity: 0.35;
        vertical-align: middle;
        line-height: 50px;
        font-size: 16px;

        &:before {
          content: '';
          display: inline-block;
          width: 43px;
          height: 1px;
          background: none;
          margin-right: 20px;
          margin-bottom: 8px;
          opacity: 1;
        }

        &.check {
          opacity: 1;

          &:before {
            content: '';
            display: inline-block;
            width: 43px;
            height: 1px;
            background: #ffffff;
            margin-right: 20px;
            margin-bottom: 8px;
            opacity: 1;
          }
        }
      }
    }
  }

  .barner-right {
    background: url("../images/banner.png");
    background-size: cover;
  }

  .banner-line-bottom {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -291px;
    width: 582px;
  }
}

/**************业务模块***************/
.business-module {
  width: 100%;
  float: left;
  position: relative;
  .businessModule-bg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 600px;
    background: url("../images/bg.png") no-repeat;
    background-size: cover;
    background-position: top;
    z-index: -1;
  }
  .title {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 2.7px;
    text-align: center;
    color: #208985;
    margin-top: 72px;
  }

  .title-EN {
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    color: #aaaaaa;
    margin-top: 9px;
  }

  .title-text {
    font-size: 16px;
    letter-spacing: 1.3px;
    text-align: center;
    color: #444444;
    margin-top: 20px;
  }

  .contain {
    display: flex;
    justify-content: space-between;
    width: 1080px;
    margin: 0 auto;
  }

  .con-3 {
    width: 340px;
    position: relative;
    &:hover {
      .img-con {
        .model-con {
          transform: translateY(0);
          opacity: 1;
          .icon-con {
            opacity: 1;
          }
        }
      }
      .title-con {
        .text-dec{
          opacity: 1;
          height: 69px;
        }
      }
      .vertical-line {
        background-color: #fcbe16;
      }
    }
  }
  .title-con {
    height: 150px;
    margin-top: 32px;
    margin-bottom: 55px;
    display: flex;
    align-items: Center;
    .sub-title {
      font-size: 26px;
      font-weight: 600;
      color: #444444;
    }
    .sub-title-EN {
      font-size: 12px;
      font-weight: 300;
      color: #444444;
      margin-top: 5px;
    }
    .text-dec {
      font-size: 14px;
      line-height: 1.71;
      letter-spacing: normal;
      color: #444444;
      margin-top: 15px;
      opacity: 0;
      height: 0;
      transition: all .3s ease-out;
    }
  }
  .vertical-line {
    position: absolute;
    top: 200px;
    left: 20px;
    width: 2px;
    height: 70px;
    border-radius: 2px;
    background-color: #000000;
    z-index: 99;
  }
    .img-con {
      position: relative;
      width: 340px;
      height: 450px;
      cursor: pointer;
      overflow: hidden;

      img {
        width: 100%;
      }
      .model-con {
        position: absolute;
        top: 0;
        left: 0;
        width: 340px;
        height: 450px;
        background-color: rgba(32, 137, 133, 0.7);
        justify-content: center;
        align-items: Center;
        opacity: 0;
        display: flex;
        transition: all .6s ease-out;
        transform: translateY(400px);

        .icon-con {
          opacity: 0;
          width: 102px;
          height: 153px;
          transition: all .5s ease-out;
          transition-delay: 0.6s;
          p {
            text-align: center;
            color: #ffffff;
            font-size: 14px;
            margin-top: 30px;
          }
        }

        .icon-house {
          display: block;
          width: 102px;
          height: 102px;
          background: url("../images/business-icon-1.svg") no-repeat;
          background-size: contain;
        }

        .icon-more {
          display: inline-block;
          width: 8px;
          height: 12px;
          background: url("../images/more.svg") no-repeat;
          margin-left: 8px;
        }
      }

    }

    #businessSector {
      img {
        transition: all 1s ease-out;
        transform: translateY(-40px);
        opacity: 0;
      }

      &.active {
        img {
          transform: translateY(0);
          opacity: 1;
        }

      }

    }

    #capital {
      img {
        transition: all 1s ease-out;
        transform: translateY(-80px);
        transition-delay: .5s;
        opacity: 0;
      }

      &.active {
        img {
          transform: translateY(0);
          opacity: 1;
        }

      }
    }

    #government {
      img {
        transition: all 1s ease-out;
        transform: translateY(-120px);
        transition-delay: 1s;
        opacity: 0;
      }

      &.active {
        img {
          transform: translateY(0);
          opacity: 1;
        }
      }
    }
  }

  /**************业务模块***************/
  /**************核心模块***************/
  .core-module {
    width: 100%;
    float: left;
    position: relative;
    margin-top: 70px;

    .contain {
      width: 1080px;
      height: 180px;
      margin: 0 auto;

      .title {
        font-size: 40px;
        font-weight: 600;
        letter-spacing: 2.7px;
        color: #208985;
      }

      .title-EN {
        font-size: 20px;
        font-weight: 300;
        color: #444;
        margin-top: 10px;
      }

      .title-text {
        font-size: 16px;
        letter-spacing: 1.3px;
        color: #444444;
        margin-top: 20px;
      }
    }

    .con-1 {
      position: relative;
      width: 100%;
      height: 660px;
      float: left;

      .core-img {
        width: 62%;
        height: 480px;
      }

      .contain {
        width: 1080px;
        height: 100%;
        margin: 0 auto;
        box-sizing: border-box;
        position: relative;
      }

      .describe-area {
        width: 850px;
        height: 450px;
      }

      .text-area {
        width: 690px;
        height: 200px;
        opacity: 0.9;
        box-sizing: border-box;
        padding: 30px 60px;
        display: flex;
        align-items: Center;
        cursor: pointer;

        .title {
          font-size: 36px;
          letter-spacing: 1px;
          line-height: 50px;
          font-weight: 600;
          transition: all .5s ease;
        }
        .title-EN {
          font-size: 18px;
          letter-spacing: 3px;
          line-height: 25px;
          font-weight: 500;
          transition: all .5s ease;
        }
        .title-dec {
          font-size: 16px;
          font-weight: 500;
          letter-spacing: 0.9px;
          margin-top: 6px;
          height: 0;
          opacity: 0;
          transition: all .5s ease;
        }
        .text-dec {
          font-size: 14px;
          font-weight: 500;
          line-height: 1.71;
          letter-spacing: 0.9px;
          color: #444444;
          margin-top: 16px;
          height: 0;
          opacity: 0;
          transition: all .5s ease;
        }
        &:hover{
          .title {
            font-size: 28px;
            letter-spacing: 0.8px;
          }
          .title-EN {
            font-size: 12px;
            letter-spacing: 2px;
            margin-top: 0;
          }
          .text-dec{
            height: 46px;
            opacity: 1;
          }
          .title-dec{
            height: 18px;
            opacity: 1;
          }
        }

      }

      .horizontal-line {
        width: 850px;
        height: 2px;
        background-color: #000000;
        margin-top: 48px;
      }

      .EN-text-area {
        display: inline-block;
        transform: rotate(90deg);
        font-size: 12px;
        color: #444;
        line-height: 24px;
        font-weight: bold;
        margin-top: 21px;

        .l {
          font-weight: lighter;
        }

      }
    }

    #brandPremiun, #professionalManagement, #industrialSupporting {
      .core-img {
        transition: all 1s ease-out;
        opacity: 0;
        transform: translateX(-40%);
      }

      .text-area {
        transition: all .5s ease-out;
        transform: scaleX(0);
        transform-origin: 0;
        transition-delay: .5s;
      }


      .horizontal-line {
        transition: all .5s ease-out;
        transform: scaleX(0);
        transform-origin: 0;
        transition-delay: 1s;
      }

      .EN-text-area {
        transition: all .5s ease-out;
        transform: scaleX(0) rotate(90deg) translate(-20%);
        transform-origin: 0 top;
        transition-delay: 1.5s;
        position: absolute;
        top: 280px;
        right: -260px;
      }
      &.active {
        .core-img {
          transform: translateX(0);
          opacity: 1;
        }

        .text-area {
          transform: scaleX(1);
        }


        .horizontal-line {
          transform: scaleX(1);
        }

        .EN-text-area {
          transform: scaleX(1) rotate(90deg) translate(-20%);
        }
      }
    }

    #withAbundantCapital, #highQualityProducts {
      .core-img {
        transition: all 1s ease-out;
        transform: translateX(40%);
        opacity: 0;
      }

      .text-area {
        transition: all .5s ease-out;
        transform: scaleX(0);
        transform-origin: 100%;
        transition-delay: .5s;
        opacity: 0;
      }
      .horizontal-line {
        transition: all .5s ease-out;
        transform: scaleX(0);
        transform-origin: 100%;
        transition-delay: 1s;
      }

      .EN-text-area {
        transition: all .5s ease-out;
        transform: scaleX(0) rotate(90deg) translate(-20%);
        transform-origin: 0 bottom;
        transition-delay: 1.5s;
        position: absolute;
        top: 200px;
        left: -80px;
      }

      &.active {
        .core-img {
          transform: translateX(0);
          opacity: 1;
        }

        .text-area {
          transform: scaleX(1);
          opacity: 0.9;
        }


        .horizontal-line {
          transform: scaleX(1);
        }

        .EN-text-area {
          /* transform: scaleX(1) rotate(-270deg);*/
          transform: scaleX(1) rotate(90deg) translate(-20%);
        }
      }
    }

    .con-left {
      .core-img {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
      }

      .text-area {
        background-color: #fcbe16;
        float: right;
        color: #444444;

        .title {
          color: #444444;
        }
        .text-dec {
          color: #444444;
        }
      }

      .describe-area {
        position: absolute;
        bottom: 0;
        right: 0px;
      }

      .horizontal-line {
        float: right;
        margin-right: -130px;
      }
    }

    .con-right {
      .core-img {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 0;
      }

      .describe-area {
        position: absolute;
        bottom: 0;
        left: 0px;
      }

      .text-area {
        color: #ffffff;
        background-color: #208985;
        float: left;

        .title,.title-EN {
          color: #ffffff;
        }
        .text-dec {
          color: rgba(255,255,255,0.7);
        }

      }

      .horizontal-line {
        float: left;
        margin-left: -130px;
      }

    }

    .petals-01-left {
      position: absolute;
      top: -100px;
      left: 0;
      width: 8%;
      max-width: 210px;
      height: 300px;
      background: url("../images/petals01-left.png") no-repeat;
      background-position: top right;
      background-size: cover;
      z-index: 0;
    }

    .block-01-right {
      position: absolute;
      top: 0px;
      right: 10px;
      width: 70px;
      height: 70px;
      background: url("../images/block01-right.png") no-repeat;
      background-position: center;
      background-size: cover;
      z-index: 0;
    }

    .petals-02-right {
      position: absolute;
      top: 71px;
      right: 0;
      width: 17%;
      max-width: 341px;
      height: 554px;
      background: url("../images/petals02-right.png") no-repeat;
      background-position: top left;
      background-size: cover;
      z-index: 0;
    }

    .block-02-right {
      position: absolute;
      top: -11px;
      right: 10px;
      width: 6%;
      max-width: 133px;
      height: 69px;
      background: url("../images/block02-right.png") no-repeat;
      background-position: top left;
      background-size: cover;
      z-index: 0;
    }

    .block-03-right {
      position: absolute;
      top: -11px;
      right: 10px;
      width: 6%;
      max-width: 133px;
      height: 227px;
      background: url("../images/block03-right.png") no-repeat;
      background-position: top right;
      background-size: cover;
      z-index: 0;
    }

    .petals-03-left {
      position: absolute;
      top: -500px;
      left: 0;
      width: 24%;
      max-width: 462px;
      height: 803px;
      background: url("../images/petals03-left.png") no-repeat;
      background-position: top right;
      background-size: cover;
      z-index: -1;
    }

    .p-m-right {
      position: absolute;
      top: 0px;
      right: 10px;
      width: 7%;
      max-width: 144px;
      height: 404px;
      background: url("../images/p-m.png") no-repeat;
      background-position: top right;
      background-size: contain;
      z-index: 0;
    }

    .p-m-left {
      position: absolute;
      top: 0px;
      left: 10px;
      width: 7%;
      max-width: 144px;
      height: 404px;
      background: url("../images/p-m.png") no-repeat;
      background-position: top right;
      background-size: contain;
      z-index: 0;
    }

    .agile {
      position: absolute;
      top: 0px;
      left: 10px;
      width: 7%;
      max-width: 144px;
      height: 404px;
      background: url("../images/agile.png") no-repeat;
      background-position: top right;
      background-size: contain;
      z-index: 0;
    }

    .brand-img {
      background: url("../images/advantage-01.jpg") no-repeat;
      background-position: top right;
      background-size: cover;
    }

    .capital-img {
      background: url("../images/advantage-02.jpg") no-repeat;
      background-position: top right;
      background-size: cover;
    }

    .manage-img {
      background: url("../images/advantage-03.jpg") no-repeat;
      background-position: top right;
      background-size: cover;
    }

    .product-img {
      background: url("../images/advantage-04.jpg") no-repeat;
      background-position: top right;
      background-size: cover;
    }

    .industry-img {
      background: url("../images/advantage-05.jpg") no-repeat;
      background-position: top right;
      background-size: cover;
    }

    .blue-bg {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 480px;
      background-color: #58a5a3;
      z-index: -1;
    }
  }


/**************核心模块***************/
