header.page-header {
  /*display: flex;*/
  position: fixed;
  height: 90px;
  line-height: 90px;
  z-index: 11;
  box-shadow: 0 1px 0 0 #e8e8e8;
  z-index: 110;
  width: calc(100% - 16px);
  min-width: 1080px;
  background-color: #ffffff;

  .logo-area {
    position: relative;
    display: inline-block;
    height: 100%;
    transition: all 300ms;
    img {
      width: 160px;
      height: 40px;
      margin-left: 40px;
      fill: #C81623;
    }
  }

  .menu-area {
    flex: 1;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    float: right;
    margin-right: 160px;
    ul li{
      position: relative;
      display: inline-block;
      color: #444444;
      margin-right: 38px;
      cursor: pointer;
      &:hover, &.check{
        color: #208985;
        &:before{
          content: '';
          display: block;
          width: 98%;
          height: 4px;
          background-color: #208985;
          position: absolute;
          top: 0;
          left: 2px;
        }
      }

    }
  }
  .switch-area{
    position: absolute;
    top:0;
    right: 0;
    width: 160px;
    height: 100%;
    text-align: center;
    background-color: #208985;
    a{
      color: #ffffff;
      border: 1px solid #ffffff;
      box-sizing: border-box;
      padding: 3px;
    }
    label{
      color: #ffffff;
    }
  }
  &.static {

  }

  &.fixed {
    height: 33px;
    background-color: #ffffff;

    .logo-area {
      height: 33px;
      box-shadow: 0 1px 0 0 #e8e8e8;
    }

    .logo-static,
    .search-static,
    .menu-static {
      display: none;
    }
    .logo-fixed,
    .search-fixed,
    .menu-fixed {
      display: block;
    }
  }
}
