<!-- 尾部 -->
<footer class="page-footer">
  <div class="contain">
    <div class="footer-logo-area">
      <img src="@@webRoot/images/logo-white.svg" class="logo-white">
    </div>
    <div class="footer-group">
      <h4 class="footer-title">关于我们</h4>
      <ul class="footer-list">
        <li>集团简介</li>
        <li>荣誉集锦</li>
        <li>发展历程</li>
        <li>联系我们</li>
        <li>加入我们</li>
      </ul>
    </div>
    <div class="footer-group">
      <h4 class="footer-title">业务模式</h4>
      <ul class="footer-list">
        <li>业务板块</li>
        <li>业务布局</li>
        <li>核心优势</li>
      </ul>
    </div>
    <div class="footer-group">
      <h4 class="footer-title">新闻动态</h4>
      <ul class="footer-list">
        <li>集团新闻</li>
        <li>媒体报道</li>
      </ul>
    </div>
    <div class="footer-group">
      <h4 class="footer-title">代表项目</h4>
      <ul class="footer-list">
        <li>文旅作品</li>
        <li>大型社区</li>
        <li>豪宅经典</li>
        <li>城市精品</li>
        <li>商业名片</li>
      </ul>
    </div>
    <div class="footer-group">
      <h4 class="footer-title">联系我们</h4>
      <ul class="footer-list">
        <li>联系我们</li>
        <li>加入我们</li>
      </ul>
    </div>
    <div class="code-area">
      <h4 class="footer-title">关注我们</h4>
      <img src="@@webRoot/images/group.png" class="code">
      <p>扫码关注公众号</p>
    </div>
  </div>
  <div class="footer-bottom">
    <p>雅居乐房地产建设管理集团 粤ICP备XXXXXX号 © 2019</p>
  </div>
</footer>
