<!-- 头部 -->
<header id="pageHeader" class="page-header static">
  <div class="logo-area">
    <img src="@@webRoot/images/logo.png" class="logo-static">
    <img src="@@webRoot/images/logo2.png" class="logo-fixed">
  </div>

  <div class="menu-area">
    <img src="@@webRoot/images/nav-search.png" class="search-static">
    <img src="@@webRoot/images/nav-search2.png" class="search-fixed">
    <img src="@@webRoot/images/nav-menu.png" class="menu-static menuIcon">
    <img src="@@webRoot/images/nav-menu2.png" class="menu-fixed menuIcon">
  </div>

  @@include('./slide-menu.html')
</header>